// BlogCard TSX 组件
.swiper-cont {
    margin: 0 auto 0;
    position: relative;
    width: 94%;
    .swiper-imgbox {
        position: relative;
        width: 100%;
        font-size: 0;
        img {
            width: 100%;
            height: 800px;
            object-fit: cover;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            transform: translateZ(0);
            filter: blur(0.3px);
            transition: all .25s ease;
        }
        .image-desc {
            padding: 4px 8px;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            font-size: 14px;
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            vertical-align: middle;
            transition: all .3s ease;
            span:first-child {
                margin-right: 5px;
                color: var(--main-color);
                vertical-align: middle;
            }
        }
    }
    .image-title {
        position: relative;
        width: 100%;
        font-size: 16px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: var(--fontcolor1);
        background-color: var(--body-bgcolor);
        span {
            font-size: 12px;
            opacity: .5;
        }
    }
    .swiper-btn {
        padding: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 48px;
        height: 48px;
        font-size: 20px;
        background-color: var(--main-color);
        color: #ffffff;
        border: none;
        transition: all .25s ease;
        &.prve {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
    .tips {
        position: absolute;
        left: -26px;
        top: 0;
        font-size: 18px;
        color: var(--fontcolor1);
        letter-spacing: 2px;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        transition: all .25s ease;
    }
}

// 移动端or小屏适配
@media screen and (max-width: 786px) {
    .swiper-cont {
        position: relative;
        width: 95%;
        .swiper-imgbox {
            width: 100%;
            font-size: 0;
            img {
                height: 480px;
            }
            .image-desc {
                font-size: 12px;
            }
        }
        .image-title {
            height: 36px;
            line-height: 36px;
        }
        .swiper-btn {
            width: 36px;
            height: 36px;
            font-size: 16px;
        }
        .tips {
            left: -24px;
            font-size: 14px;
        }
    }
}