// COMMON START
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer{margin:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
img{ border:0 } 
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}
a {
    text-decoration:none;
    &:hover {
        text-decoration: none;
    }
}
* img[src],
* img[src=""] {
    display: none;
}
// COMMON NED

// 全局样式
// @font-face {
//     font-family: 'FanZ_LTYuanJian';
//     src: url('/public/FanZ_LTYuanJian.woff2');
// }
:root {
    --main-color: #8b4513;
    --black0: #000000;
    --black3: #333333;
    --black6: #666666;
    --black9: #999999;
    --blackc: #cccccc;
    --blacke: #eeeeee;
    --color1: #3cb371;
    --color2: #b22222;
    --color3: #7b68ee;
    --color4: #2a52be;
    --body-bgcolor: #f7f7f7; 
}
html, body {
    font-family: 'PingFang SC,Songti SC,Helvetica,Arial,sans-serif';
    background-color: var(--body-bgcolor);
    scroll-behavior: smooth;
}
body { 
    padding-top: 60px; 
    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
        background-color: var(--blacke);
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--main-color);
        border-radius: 2px;
    }
}

// BaseLayout 外层容器样式
.wrapper {
    padding: 0 20px;
    margin: 0 auto 0;
    max-width: 886px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
}

// markdown 布局样式
.md-header { // 头部
    padding: 0 30px;
    .md-time {
        position: relative;
        padding-left: 8px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        color: var(--black9);
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            height: 20px;
            width: 3px;
            background-color: var(--blacke);
        }
    }
    .md-title {
        font-size: 38px;
        text-shadow: 4px 4px 0 rgba(0, 0, 0, .15);
    }
    img {
        margin: 10px 0 0;
        display: block;
        height: 150px;
    }
}
.md-content { // 主体
    position: relative;
    padding: 20px 30px;
    font-family: '微软雅黑';
    h2 {
        margin-top: 40px;
        font-weight: 400;
        font-size: 26px;
        line-height: 54px;
    }
    p {
        padding: 8px 0;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1px;
        code {
            padding: 2px 8px;
            background-color: var(--blacke);
            border-radius: 3px;
        }
    }
    .astro-code {
        padding: 20px;
        code {
            font-family: 'monospace';
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.5px;
        }
    }
    ul,ol {
        padding-left: 40px;
        li {
            font-size: 16px;
            line-height: 26px;
        }
    }
    a {
        font-size: 16px;
        line-height: 26px;
        color: deepskyblue;
        margin: 0 6px;
        text-decoration: underline;
    }
    blockquote {
        margin: 8px 0 8px;
        background-color: var(--blacke);
        border-left: 3px solid var(--main-color);
        p {
            padding-left: 20px;
        }
    }
    img {
        display: block;
        margin: 10px auto 10px;
        height: 220px;
        text-align: center;
    }
}


// Tags 页面样式
.tags-cont {
    padding: 0 60px 40px;
    .title {
        font-size: 32px;
        line-height: 64px;
    }
    nav {
        padding: 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }
    .tag-item {
        display: block;
        padding: 6px 20px;
        font-size: 16px;
        color: var(--black3);
        border: 1px solid var(--blackc);
        transition: all .2s ease;
        i {
            font-style: normal;
            font-size: 14px;
            color: var(--black9);
        }
        &:hover {
            border: 1px solid var(--main-color);
        }
    }
}


// 移动端or小屏适配
@media screen and (max-width: 786px) {
    body {
        padding-top: 0;
    }
    .md-header {
        padding: 0 6px;
    }
    .tags-cont {
        padding: 0 10px 40px;
        nav {
            gap: 5px 10px;
        }
    }
}

// 深色模式
.drak {
    filter: invert(1) hue-rotate(180deg);
    img, video, .drak_bg {
        filter: invert(1) hue-rotate(180deg)
    }
    .wrapper {
        background-color: var(--blacke);
    }
}