---
import BaseLayout from "@layouts/BaseLayout.astro"
import PostCard from '@components/PostCard.astro'
import { allMdArr } from '@utils/astroUtil'

type tagType = {
    tag: string
    count: number
}

import '@styles/global.min.css'

const tags: Array<string> = [...new Set(allMdArr.map((md) => md.data.tags).flat())]

const fillterTags: Array<tagType> =  tags.map((tag) => {    
    const filteredMds = allMdArr.filter((md) => md.data.tags.includes(tag))
    return {
        tag:  tag ,
        count: filteredMds.length,
    }
}).sort((tag1, tag2) => tag2.count - tag1.count)
---

<BaseLayout title="全部标签">
    <section class="tags-cont">
        <h1 class="title">全部标签</h1>
        <nav>
            {fillterTags.map((item) => (
                <a class="tag-item" href={`/MyBlog/tags/${item.tag}`}>
                    {item.tag} 
                    <i>({item.count})</i> 
                </a>
            ))}
        </nav>

        <main class="all-cont">
            {
                allMdArr
                    .sort((post1, post2) => post2.data.pubDate - post1.data.pubDate)
                    .map((md) => {
                    return (<PostCard post={md}/>)
                })
            }
        </main>
    </section>

</BaseLayout>
