---
import BaseLayout from "../../layouts/BaseLayout.astro"
import PostCard from '../../components/PostCard.astro'
import { getCollection } from 'astro:content'

import '../../styles/global.min.css'

import { type tagType } from '../../types/astro'

const createAllMd = async () => {
    let _array:Array<any> = []

    return _array.concat(await getCollection('posts'))
            .concat(await getCollection('games'))
            .concat(await getCollection('articles'))
}

const allMdArray:Array<any> = await createAllMd()

const tags: Array<string> = [...new Set(allMdArray.map((md) => md.data.tags).flat())]

const fillterTags: Array<tagType> =  tags.map((tag) => {    
    const filteredMds = allMdArray.filter((md) => md.data.tags.includes(tag))
    return {
        tag:  tag ,
        count: filteredMds.length,
    }
}).sort((tag1, tag2) => tag2.count - tag1.count)
---

<BaseLayout title="全部标签">
    <section class="tags-cont">
        <h1 class="title">全部标签</h1>
        <nav>
            {fillterTags.map((item) => (
                <a class="tag-item" href={`/MyBlog/tags/${item.tag}`}>
                    {item.tag} 
                    <i>({item.count})</i> 
                </a>
            ))}
        </nav>
    </section>

    <main>
		{
			allMdArray.reverse().map((md) => {
				return (<PostCard post={md}/>)
			})
		}
	</main>

</BaseLayout>

<style>
    .tags-cont {
        padding: 0 60px 0;
    }
    .title {
        font-size: 32px;
        line-height: 64px;
    }
    .tags-cont nav {
        padding: 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }
    .tag-item {
        display: block;
        padding: 6px 20px;
        font-size: 16px;
        color: var(--black3);
        border: 1px solid var(--blackc);
        transition: all .2s ease;
    }
    .tag-item i {
        font-style: normal;
        font-size: 14px;
        color: var(--black9);
    }
    .tag-item:hover {

        border: 1px solid var(--main-color);
    }

    main {
        padding: 0 60px 40px;
    }
</style>