---
import BaseLayout from "../../layouts/BaseLayout.astro"
import PostCard from '../../components/PostCard.astro'
import { getCollection } from 'astro:content'

import '../../styles/global.min.css'

import { type tagType } from '../../types/astro'

const createAllMd = async () => {
    let _array:Array<any> = []

    return _array.concat(await getCollection('posts'))
            .concat(await getCollection('games'))
            .concat(await getCollection('articles'))
}

const allMdArray:Array<any> = await createAllMd()

const tags: Array<string> = [...new Set(allMdArray.map((md) => md.data.tags).flat())]

const fillterTags: Array<tagType> =  tags.map((tag) => {    
    const filteredMds = allMdArray.filter((md) => md.data.tags.includes(tag))
    return {
        tag:  tag ,
        count: filteredMds.length,
    }
}).sort((tag1, tag2) => tag2.count - tag1.count)
---

<BaseLayout title="全部标签">
    <section class="tags-cont">
        <h1 class="title">全部标签</h1>
        <nav>
            {fillterTags.map((item) => (
                <a class="tag-item" href={`/MyBlog/tags/${item.tag}`}>
                    {item.tag} 
                    <i>({item.count})</i> 
                </a>
            ))}
        </nav>

        <main class="all-cont">
            {
                allMdArray.reverse().map((md) => {
                    return (<PostCard post={md}/>)
                })
            }
        </main>
    </section>

</BaseLayout>
