---
import BaseLayout from "@layouts/BaseLayout.astro"
import BlogCard from '@components/BlogCard.astro'
import { allMdArr } from '@utils/astroUtil'

type tagType = {
    tag: string
    count: number
}

import '@styles/global.min.css'

const tags: Array<string> = [...new Set(allMdArr.map((md) => md.data.tags).flat())]

const fillterTags: Array<tagType> =  tags.map((tag) => {    
    const filteredMds = allMdArr.filter((md) => md.data.tags.includes(tag))
    return {
        tag:  tag ,
        count: filteredMds.length,
    }
}).sort((tag1, tag2) => tag2.count - tag1.count)
---

<BaseLayout title="全部标签">
    <section class="tags-cont">
        <h1 class="title">全部标签</h1>
        <nav>
            {fillterTags.map((item) => (
                <a class="tag-item" href={`/MyBlog/tags/${item.tag}`}>
                    {item.tag} 
                    <i>({item.count})</i> 
                </a>
            ))}
        </nav>

        <main class="all-cont">
            {
                allMdArr
                    .sort((post1, post2) => post2.data.pubDate - post1.data.pubDate)
                    .map((md) => {
                    return (<BlogCard post={md}/>)
                })
            }
        </main>
    </section>

</BaseLayout>

<style lang="scss">
    // Tags 页面样式
    .tags-cont {
        padding: 0 60px 40px;
        .title {
            font-size: 32px;
            line-height: 64px;
            color: var(--fontcolor1);
        }
        nav {
            padding: 20px 0 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }
        .tag-item {
            display: block;
            padding: 6px 20px;
            font-size: 16px;
            color: var(--fontcolor1);
            border: 1px solid var(--fontcolor4);
            transition: all .2s ease;
            i {
                font-style: normal;
                font-size: 14px;
                color: var(--fontcolor3);
            }
            &:hover {
                border: 1px solid var(--main-color);
            }
        }
    }

    // 移动端or小屏适配
    @media screen and (max-width: 786px) {
        .tags-cont {
            padding: 0 10px 40px;
            nav {
                gap: 5px 10px;
            }
        }
    }
</style>