---
import BaseLayout from '@layouts/BaseLayout.astro'
import '@styles/global.min.css'
---

<BaseLayout title="CafeBlogs About">
	<main class="about-wrapper">
		<h1 class="title">关于我</h1>
		<div class="about-cont">
			
			<div class="left">
				<p class="p--first">这里是咖啡Killer的博客网站，我的一方小天地。</p>
				<p>一个喜欢荒木飞吕彦和硬核画风的阿宅、一个躲在网络角落处还喜欢碎碎念的小角色、
					一个想努力成全栈开发大佬的菜鸟、一个总是三分钟热度，秉承着持续性混吃等死，间歇性发奋图强信条的普通人。<p/>
				<p>喜欢孤独也很享受孤独，偶尔还会发癫，平时玩游戏、看动漫、读读小说、写代码以及捣鼓各类奇怪玩意，
					有时还会去安静人少的地方逛逛，现在我正在努力让自己变的有趣。</p>
				<p>一起学习吧，愿我们变得更强</p>
				<p class="p--last">博客使用：Astro + TypeScript + Github Action 搭建</p>
			</div>

			<div class="right">
				<img src="//s21.ax1x.com/2024/07/01/pkcxQj1.jpg" alt="头像_熊猫">
				<br>
				<p>熊猫头像，来自广告 <br> —— <br>《never say no to panda》</p>
			</div>
		</div>

		<nav class="my-links">
			<a href="https://gitee.com/coffeekiller002" target="_blank"
				style="--bgcolor:rgba(199,29,35,.1);--brcolor:#c71d23;">Gitee</a>
			
			<a href="https://github.com/CafeKiller" target="_blank"
				style="--bgcolor:rgba(110,64,201,.1);--brcolor:#6e40c9;">Github</a>

			<a href="https://space.bilibili.com/16437457" target="_blank"
				style="--bgcolor:rgba(8,163,214,.1);--brcolor:#08a3d6;">Bilibili</a>
		</nav>
	</main>
</BaseLayout>

<style lang="scss">
	// About 关于页面样式
	.about-wrapper {
		position: relative;
		padding: 10px 60px 60px;
		.title {
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 36px;
			line-height: 46px;
			color: var(--fontcolor1);
			transition: all .2s ease;
			&:hover {
				color: var(--main-color);
			}
		}
		.about-cont {
			display: flex;
			justify-content: space-between;
			.left {
				width: 55%;
				font-size: 16px;
				line-height: 26px;
				color: var(--fontcolor2);
				p {
					margin-bottom: 20px;
				}
				.p--last {
					margin-top: 60px;
					font-size: 12px;
					color: var(--fontcolor4);
				}
			}
			.right {
				margin-left: 80px;
				width: 40%;
				text-align: right;
				p {
					margin-top: 8px;
					font-size: 10px;
					line-height: 12px;
					color: var(--fontcolor2);
				}
			}
		}
		.my-links {
			position: absolute;
			right: 60px;
			top: 280px;
			width: 160px;
			background: var(--body-bgcolor);
			a {
				padding: 8px 16px;
				display: block;
				background: var(--body-bgcolor);
				color: var(--fontcolor2);
				border-bottom: 2px solid var(--body-bgcolor);
				transition: all .2s ease;
				&:hover {
					color: var(--brcolor);
					background: var(--bgcolor);
					border-bottom: 2px solid var(--brcolor);
				}
			}
			
		}
	}

	// 移动端or小屏适配
	@media screen and (max-width: 786px) {
		.about-wrapper  {
			padding: 10px 20px 30px; 
			.title {
				text-align: center;
			}
			.about-cont {
				flex-direction: column;
				.left {
					margin: 0 auto 0;
					order: 2;
					width: 100%;
				}
				.right {
					margin-left: 0;
					margin-bottom: 20px;
					width: 100%;
					order: 1;
					text-align: center;
				}
			}
			.my-links {
				display: none;
			}
		}
	}
</style>