---
import BaseLayout from '@/layouts/BaseLayout.astro'
import '@/styles/global.min.css'
---

<BaseLayout title="CafeBlogs About">
	<main class="about-wrapper">
		<h1 class="title">关于我</h1>
		<div class="about-cont">
			
			<div class="left">
				<p class="p--first">这里是咖啡Killer的博客网站，我的一方小天地。</p>
				<p>一个喜欢荒木飞吕彦和硬核画风的阿宅、一个躲在网络角落处还喜欢碎碎念的小角色、
					一个想努力成全栈开发大佬的菜鸟、一个总是三分钟热度，秉承着持续性混吃等死，间歇性发奋图强信条的普通人。<p/>
				<p>喜欢孤独也很享受孤独，偶尔还会发癫，平时玩游戏、看动漫、读读小说、写代码以及捣鼓各类奇怪玩意，
					有时还会去安静人少的地方逛逛，现在我正在努力让自己变的有趣。</p>
				<p>一起学习和减肥吧，愿我们变得更强</p>
				<p class="p--last">博客使用：Astro + TypeScript + Github Action 搭建</p>
			</div>

			<div class="right">
				<img src="//s21.ax1x.com/2024/07/01/pkcxQj1.jpg" alt="头像_熊猫">
				<br>
				<p>熊猫头像，来自广告 <br> —— <br>《never say no to panda》</p>
			</div>
		</div>

		<nav class="my-links">
			<a href="https://gitee.com/coffeekiller002" target="_blank"
				style="--bgcolor:rgba(199,29,35,.1);--brcolor:#c71d23;">Gitee</a>
			
			<a href="https://github.com/CafeKiller" target="_blank"
				style="--bgcolor:rgba(110,64,201,.1);--brcolor:#6e40c9;">Github</a>

			<a href="https://space.bilibili.com/16437457" target="_blank"
				style="--bgcolor:rgba(8,163,214,.1);--brcolor:#08a3d6;">Bilibili</a>
		</nav>
	</main>
</BaseLayout>