---
import BaseLayout from '@layouts/BaseLayout.astro'
import { createYearHistories } from '@utils/astroUtils'
import { formatDate } from '@utils/commonUtil'
import type { navType } from '@type/common'

import '@styles/global.min.css'


const fillterPosts = createYearHistories()
---

<BaseLayout title="CafeBlogs Blogs">
	<main>
		{
			Object.keys(fillterPosts).reverse().map((year: string) => {
				return (
					<section class="year-cont">
						<h2 class="title">
							{ year.split("").map((item:string) => ( <span>{item}</span> )) }
						</h2>
						<nav class="nav-cont">
							{fillterPosts[year].map((item: navType) => {
								return (
									<div class="nav-item">
										<span>{formatDate(item.date).slice(5, 10)}</span>
										<a href={''+item.url}>{item.title}</a> 
									</div>
								)
							})}
						</nav>

					</section>
				)
			})
		}
	</main>
</BaseLayout>

<style lang="scss">
	main {
		padding: 0 0 60px;
		position: relative;
	}
	.year-cont {
		position: relative;
		padding-bottom: 60px;
		width: 100%;
		&::before {
			position: absolute;
			content: "";
			left: 100px;
			width: 1.5px;
			height: 100%;
			background-color: var(--blackc);
		}
		* {
			transition: all .3s ease;
		}
		.title {
			position: absolute;
			left: 0;
			top: 6px;
			display: flex;
			align-items: center;
			font-size: 32px;
			font-weight: 400;
			line-height: 32px;
			margin-bottom: 10px;
			color: var(--fontcolor1);
			user-select: none;
			span {
				&:last-child {
					color: var(--main-color);
				}
			}
		}
		.nav-cont {
			padding-left: 120px;
			.nav-item {
				display: flex;
				align-items: center;
				span {
					align-self: flex-start;
					margin: 0 8px;
					font-size: 12px;
					line-height: 32px;
					color: var(--fontcolor3);
				}
				a {
					display: block;
					position: relative;
					max-width: 80%;
					font-size: 16px;
					line-height: 32px;
					color: var(--fontcolor1);
					text-decoration: none;
					&::before {
						content: '';
						position: absolute;
						bottom: 2px;
						left: unset;
						right: 0;
						width: 0;
						height: 1px;
						background-color: var(--main-color);
						transition: all .3s ease;
					}
					&:hover {
						color: var(--main-color);
						// text-decoration: underline;
						&::before {
							left: 0;
							right: unset;
							width: 100%;
						}
						&~span { 
							color: var(--fontcolor2);
						}
					}
				}
			}
			
		}
		&:last-of-type {
			padding-bottom: 30px;
		}
	}

	// 移动端适配
	@media screen and (max-width: 786px) {
		main {
			padding: 0 0 60px;
		}
		.year-cont {
			padding-bottom: 48px;
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			&::before {
				left: 0;
				width: 1px;
			}
			.title {
				position: relative;
				margin-bottom: 20px;
				top: 0;
			}
			.nav-cont {
				padding-left: 24px;
				.nav-item {
					position: relative;
					margin-bottom: 8px;
					span {
						order: 2;
					}
					a {
						order: 1;
					}
					&::before {
						content: '';
						position: absolute;
						left: -14px;
						top: 13.5px;
						width: 6px;
						height: 6px;
						background-color: var(--fontcolor3);
						transform: rotateZ(45deg);
					}
				}
			}
			&:last-of-type {
				padding-bottom: 8px;
			}
		}
	}
</style>