---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogCardList from "@components/BlogCardList"
---

<BaseLayout title="首页">
	<main>
		<BlogCardList client:only="react"/>
	</main>

</BaseLayout>

<style>
	main {
		padding: 0 0 60px;
	}
	@media screen and (max-width: 786px) {
		main {
			padding: 0 10px 60px;
		}
	}
</style>
