---
import { getCollection } from 'astro:content'

import BaseLayout from '@layouts/BaseLayout.astro'
import PostCard from '@components/PostCard.astro'

const collection = await getCollection('posts')
---

<BaseLayout title="首页">
	<main>
		{
			collection
					.sort((p1, p2) => p2.data.pubDate.getTime() - p1.data.pubDate.getTime())
					.map((md) => {
						return (<PostCard post={md}/>)
					})
		}
	</main>
</BaseLayout>

<style>
	main {
		padding: 0 30px 60px;
	}
	@media screen and (max-width: 786px) {
		main {
			padding: 0 10px 60px;
		}
	}
</style>
