---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogCardList from "../components/BlogCardList"
import { allPostArr } from '@utils/astroUtils';
---

<BaseLayout title="不来杯咖啡?">
	<main>
		<BlogCardList posts={ allPostArr } client:only="react"/>
	</main>
</BaseLayout>

<style>
	main {
		padding: 0 0 100px;
		min-height: calc(100vh - 420px);
	}
	@media screen and (max-width: 786px) {
		main {
			padding: 0 10px 60px;
		}
	}
</style>
