---
import { allMdArr } from "@utils/astroUtil"
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogCardList from "@components/BlogCardList"


const posts = allMdArr
				.filter(md => md.data.class === '技术')
				.sort((p1, p2) => p2.data.pubDate.getTime() - p1.data.pubDate.getTime())
---

<BaseLayout title="首页">
	<main>
		<BlogCardList client:only="react" posts={posts} />
	</main>

	
</BaseLayout>

<style>
	main {
		padding: 0 0 60px;
	}
	@media screen and (max-width: 786px) {
		main {
			padding: 0 10px 60px;
		}
	}
</style>
