---
import BaseLayout from '@layouts/BaseLayout.astro'
import DevComp  from '@components/DevComp.astro'
import BlogCardList from "@components/BlogCardList"

const isProd = import.meta.env.PROD;
---

<BaseLayout title="首页">
	<main>

		<DevComp />

		<BlogCardList client:only="react"/>
	</main>
</BaseLayout>

<style>
	main {
		padding: 0 0 100px;
		min-height: calc(100vh - 420px);
	}
	@media screen and (max-width: 786px) {
		main {
			padding: 0 10px 60px;
		}
	}
</style>
