---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'

import { allMdArr } from '@/utils/astroUtil'
---

<BaseLayout title="首页">
	<main>
		{
			allMdArr
					.sort((post1, post2) => post2.data.pubDate - post1.data.pubDate)
					.map((md) => {
						return (<PostCard post={md}/>)
					})
		}
	</main>
</BaseLayout>

<style>
	main {
		padding: 0 30px 60px;
	}
</style>
