---
import "@styles/global.min.css"

type headType = {
    depth: number
    slug : string,
    text: string
}[]

const  headings: headType  = Astro.props.headings as headType
---

<nav class="catalogs-box" style={ headings.length ? '' : 'display: none'}>
    {
        headings.map((item) => {
            return (<a href={ '#' + item.slug } >- {item.text}</a> <br/>)
        })
    }
</nav>

<style lang="scss">
    // Catalogs 文章目录 组件样式
    .catalogs-box {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        display: inline-block;
        margin-top: 20px;
        padding: 12px 18px;
        min-width: 180px;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: var(--fontcolor5);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: var(--fontcolor1);
            transition: all .25s ease;
            &a:hover {
                font-weight: 800;
                color: var(--main-color);
            }
        }
    }

    // 移动端or小屏适配
    @media screen and (max-width: 786px) {

    }
</style>