---
import "@/styles/global.min.css"

type headType = {
    depth: number
    slug : string,
    text: string
}[]

const  headings: headType  = Astro.props.headings as headType
---

<nav class="catalogs-box" style={ headings.length ? '' : 'display: none'}>
    {
        headings.map((item) => {
            return (<a href={ '#' + item.slug } >- {item.text}</a> <br/>)
        })
    }
</nav>