---
import SearchBar from "@components/SearchBar"

const isDev = import.meta.env.DEV;
---

<div class="dev-comp" style=`${ isDev ? 'display: block' : 'display: none'}`>

    <h1>Dev Comp</h1>
    <p>isDev: {isDev}</p>

    <SearchBar client:only="react" />

</div>