---
import { allMdArr, getUniqueTags } from '@utils/astroUtil'

import '@styles/global.min.css'

type tagType = {
    tag: string
    count: number
}

const fillterTags:tagType[] = getUniqueTags(allMdArr)
---

<footer class="footer-wrapper">
    <div class="footer-cont">
        
        <nav class="tags">
            <h1 class="title">标签</h1 >
            {
                fillterTags
                .sort((t1, t2) => t2.count - t1.count)
                .slice(0, 10)
                .map((item) => {
                    return ( 
                        <a href={"/tags/" + item.tag} class="item"> 
                            { item.tag } <span>({ item.count })</span> 
                        </a> )
                })
            }
        </nav>

        <!-- <nav class="categos">
            <h1 class="title">分类</h1 >
            <a href="/tags" class="item" style="--color:#2a52be">全部</a>
            <a href="/tags/posts" class="item" style="--color:#3cb371">技术</a>
            <a href="/tags/games" class="item" style="--color:#b22222">游戏</a>
            <a href="/tags/articles" class="item" style="--color:#7b68ee">杂谈</a>
        </nav> -->

        <section class="bottom-links">
            <a class="repo-link" target="_blank" href="https://github.com/CafeKiller/MyBlog">Repository</a>
        </section>
    </div>
</footer>

<style lang="scss">
    // Footer 通用底部 组件样式
    .footer-wrapper {
        position: relative;
        bottom: 0;
        margin-top: 80px;
        width: 100%;
        background-color: var(--blackf);
        box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
        .footer-cont {
            padding: 40px 0 40px;
            margin: 0 auto 0;
            max-width: 886px;
            .categos, .tags {
                padding: 0 60px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 8px;
                .title {
                    margin-bottom: 10px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 42px;
                    width: 100%;
                    text-align: center;
                    color: var(--fontcolor1);
                }
            }
            .tags {
                margin: 0 auto 0;
                max-width: 520px;
                .item {
                    /* margin: 0 6px; */
                    padding: 4px 12px;
                    font-size: 14px;
                    color: var(--fontcolor2);
                    border: 1px solid var(--blackc);
                    transition: all .15s ease;
                    span {
                        color: var(--fontcolor4);
                    }
                    &:hover {
                        color: var(--main-color);
                        border: 1px solid var(--main-color);
                    }
                }
            }
            .categos {
                margin-top: 38px;
                .item {
                    padding: 6px 26px;
                    font-size: 16px;
                    text-indent: 6px;
                    letter-spacing: 6px;
                    color: var(--color);
                    border: 2px solid var(--color);
                    transition: all .15s ease;
                    background-color: transparent;
                    transition: all .25s ease;
                    &:hover {
                        color: var(--blackf);
                        background-color: var(--color);
                    }
                }
            }
            .bottom-links {
                position: relative;
                margin: 50px auto 0;
                width: 100%;
                text-align: center;
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: -10px;
                    width: 30px;
                    height: 1px;
                    background-color: var(--black9);
                    transform: translateX(-50%);
                }
                .repo-link {
                    font-size: 14px;
                    color: var(--fontcolor2);
                }
            }
        }
    }
    // 移动端or小屏适配
    @media screen and (max-width: 786px) {
        .footer-wrapper {
            margin-top: 52px;
        }
    }

    // 黑夜模式
    html.dark {
        .footer-wrapper {
            background-color: var(--blackf);
            box-shadow: none;
        }
    }
</style>