---
import { allPosts } from '@/utils/astroUtil'

import '@/styles/global.min.css'

type tagType = {
    tag: string
    count: number
}

const uniqueTags: Array<string> = [...new Set(allPosts.map((post) => post.data.tags).flat())]

const fillterTags: Array<tagType> =  uniqueTags.map((tag) => {    
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))
    return {
        tag:  tag ,
        count: filteredPosts.length,
    }
})
---

<footer class="footer-wrapper">
    <div class="footer-cont">
        
        <nav class="tags">
            <h1 class="title">标签</h1 >
            {
                fillterTags.map((item) => {
                    return ( 
                        <a href={"/MyBlog/tags/" + item.tag} class="item"> 
                            { item.tag } <span>({ item.count })</span> 
                        </a> )
                })
            }
        </nav>

        <nav class="categos">
            <h1  class="title">分类</h1 >
            <a href="/MyBlog/tags" class="item" style="--color:#2a52be">全部</a>
            <a href="/MyBlog/tags/posts" class="item" style="--color:#3cb371">技术</a>
            <a href="/MyBlog/tags/games" class="item" style="--color:#b22222">游戏</a>
            <a href="/MyBlog/tags/articles" class="item" style="--color:#7b68ee">杂谈</a>
        </nav>

        <section class="bottom-links">
            <a class="repo-link" target="_blank" href="https://github.com/CafeKiller/MyBlog">Repository</a>
        </section>
    </div>
</footer>