---
import '../styles/global.min.css'
---

<header class="header">
    <nav>
        <a href="/MyBlog/index">首页</a>
        <a href="/MyBlog/blogs">博客</a>
        <a href="/MyBlog/about">关于</a>
    </nav>
    <div class="header-title">
        <h1 class="text">Cafe Blogs</h1>
        <p class="description"><span>代码</span>，<span>游戏</span>，以及<span>有趣的故事</span></p>
    </div>
</header>
