---
import '../styles/global.min.css'
---

<header class="header">
    <nav>
        <a href="/MyBlog/index">首页</a>
        <a href="/MyBlog/blogs">博客</a>
        <a href="/MyBlog/about">关于</a>
    </nav>
    <div class="header-title">
        <h1 class="text">Cafe Blogs</h1>
        <p class="description"><span>代码</span>，<span>游戏</span>，以及<span>有趣的故事</span></p>
    </div>
</header>

<style>
    .header {
        padding: 10px 0 80px;
        margin: 0 auto 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
    nav {
        display: flex;
        align-self: flex-end;
    }
    nav a {
        width: 100px;
        height: 50px;
        font-family: 'FanZ_LTYuanJian';
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        color: #333333;
        transition: all .25s ease;
        border-bottom: 3px solid transparent;
    }
    nav a:hover {
        color: var(--main-color);
        text-decoration: none;
        background-color: #f4f4f4;
        border-bottom: 3px solid var(--main-color);
    }
    .header-title {
        position: relative;
        align-self: flex-end;
        padding-right: 20px;
       
    }
    .header-title .text {
        font-family: 'FanZ_LTYuanJian';
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 3px;
        color: #3333333;
        z-index: 10;
    }
    .header-title .description {
        position: absolute;
        right: 20px;
        bottom: -30px;
        font-size: 16px;
        vertical-align: middle;
        color: #999999;
    }
    .header-title .description span {
        transition: all .2s ease;
    }
    .header-title .description span:hover {
        color: #555555;
    }
</style>