---
import '@styles/global.min.css'

export interface Props {
    currentPage: number,
    lastPage: number,
}

const { currentPage, lastPage } = Astro.props;
const pageArr = Array.from({length: lastPage}, (_, i) => i+1);
---
<div class="note-paginator" data-currentIdx={`${currentPage}`}>
    <p class="tips">页码:</p>
    {
        pageArr.map((idx) => (
            <a href={`/notes/${idx}`} 
            class={`note-paginator-item ${ currentPage == idx ? 'active' : '' }`}>
                {idx}
            </a>
        ))
    }
</div>

<style lang="scss">
    .note-paginator {
        position: relative;
        top: -10px;
        padding: 0 0 40px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .tips {
            margin-bottom: 8px;
            width: 100%;
            font-size: 14px;
            color: var(--fontcolor3);
        }
        .note-paginator-item {
            margin-right: 10px;
            width: 24px;
            height: 24px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            border: 1px solid var(--fontcolor1);
            color: var(--fontcolor1);
            &.active {
                border: 1px solid var(--main-color);
                color: var(--main-color);
                pointer-events: none;
            }
        }
    }
</style>