---
import "../styles/global.min.css"

const { post } = Astro.props
let desc = post.rawContent().replace(/\s*/g,"").slice(0,151)
---
<a class="post-card-box" href={post.url}>
    <div class="post-card">
        <span class="time">{ post.frontmatter.pubDate.toString().slice(0,10) }</span>
        <h1 class="title">{ post.frontmatter.title }</h1>
        <p class="description">
            { desc + '......'}
        </p>
    </div>
</a>


<style>
    .post-card-box {
        display: block;
    }
    .post-card {
        position: relative;
        padding: 60px 0 40px;
        width: 100%;
        /* border-bottom: 2px solid #ccc; */
    }
    .post-card::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        height: 2px;
        width: 0%;
        background: var(--main-color);
        transform: translateX(-50%);
        transition: width .35s ease;
    }
    .post-card-box:hover .post-card .title {
        color: var(--main-color);
    }
    .post-card-box:hover .post-card .description{
        color: #666666;
    }
    .post-card-box:hover .post-card::before {
        width: 80%;
    }
    .post-card .time {
        padding-left: 10px;
        font-size: 16px;
        line-height: 26px;
        color: var(--black9);
        border-left: 2px solid var(--black9);
    }
    .post-card .title {
        font-weight: 400;
        font-size: 28px;
        line-height: 56px;
        color: #333333;
        transition: color .35s ease;
    }
    .post-card .description {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #999999;
        transition: color .35s ease;
    }
</style>
