---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.min.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A blog page built using the astro framework" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="all">
		<meta name="author" content="CafeKiller"/>
		<meta name="Copyright" content="Coffee_Killer"/>
		<meta property="og:title" content={ "MyBlog - " + title }>
		<meta property="og:description" content="A blog page built using the astro framework">
		<meta property="og:image" content="./public/share.png">
		<meta property="image" content="./public/share.png">
		<meta name="Description" content="A blog page built using the astro framework"/>
		<meta name="Keywords" content="coffee blog, 咖啡blog, cafe blog, blog, 博客, cafe博客, 咖啡, cafe"/>
		<title>MyBlog - { title }</title>

		<link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
	</head>
	<body class="">
		<div class="wrapper">
			<Header></Header>
			<slot />
		</div>
		<Footer/>
	</body>
</html>

<style >
	.wrapper {
		padding: 0 20px;
		margin: 0 auto 0;
		max-width: 886px;
		background-color: #ffffff;
		border-radius: 3px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
	}
</style>
