---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '@/styles/global.min.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A blog page built using the astro framework | 使用 astro 框架构建的博客页面" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="all">
		<meta name="author" content="CafeKiller"/>
		<meta name="Copyright" content="Coffee_Killer"/>
		<meta property="og:title" content={ "MyBlog - " + title }>
		<meta property="og:description" content="A blog page built using the astro framework | 使用 astro 框架构建的博客页面">
		<meta property="og:image" content="https://s21.ax1x.com/2024/07/01/pkcx1nx.png">
		<meta property="image" content="https://s21.ax1x.com/2024/07/01/pkcx1nx.png">
		<meta name="Description" content="A blog page built using the astro framework | 使用 astro 框架构建的博客页面"/>
		<meta name="Keywords" content="coffee blog, 咖啡blog, cafe blog, blog, 博客, cafe博客, 咖啡, cafe"/>
		<title>{ title } - MyBlog</title>

		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	</head>

	<body class="">
		<div class="wrapper">
			<Header></Header>
			<slot />
		</div>
		<Footer/>
	</body>

</html>


<script>
	import { log } from '@/utils/iLogUtil'
	log.success("CurrentTime", new Date().toLocaleString("zh-CN", { hour12: false }))
	log.success("Copyright", "Coffee_Killer")	
</script>