---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import { SITE, LOCALE } from '@config'

import '@styles/global.min.css'

export interface Props {
	title?: string
	author?: string
	description?: string
	ogImage?: string
	canonicalURL?: string
	pubDatetime?: Date
	modDatetime?: Date | null
	scrollSmooth?: boolean
}

const { 
	title,
	author = SITE.author,
	description = SITE.desc,
	ogImage = SITE.ogImage,
	canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props
---

<!doctype html>
<html lang=`${ LOCALE.lang ?? "en" }`>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<meta name="robots" content="all">
		
		<meta name="title" content={ title + SITE.title } />
		<meta name="author" content={ author } />
		<meta name="Copyright" content={ author }/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		
		<meta property="og:title" content={ title + SITE.title}>
		<meta property="og:description" content={ description }>
		<meta property="og:image" content={ ogImage }>
		<meta property="image" content={ ogImage }>

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={ canonicalURL } />
		<meta property="twitter:title" content={ title + SITE.title } />
		<meta property="twitter:description" content={ description } />
		<meta property="twitter:image" content={ ogImage } />
		
		<meta name="Description" content={ description }/>
		<meta name="Keywords" content="coffee blog, 咖啡blog, cafe blog, blog, 博客, cafe博客, 咖啡, cafe"/>
		
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
		  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
		  rel="stylesheet"
		/>

		<meta name="theme-color" content="" />
		
		<title>{ title + SITE.title }</title>

		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	</head>

	<body class="">
		<div class="wrapper">
			<Header></Header>
			<slot />
		</div>
		<Footer/>
	</body>

</html>

<script is:inline src="/toggleTheme.js"></script>

<script>
	import { log } from '@utils/iLogUtil'
	log.success("CurrentTime", new Date().toLocaleString("zh-CN", { hour12: false }))
	log.success("Copyright", "Coffee_Killer")	
</script>