// BlogCard TSX 组件
.post-card-box {
    display: block;
    .post-card {
        position: relative;
        padding: 32px 0 62px;
        width: 100%;
        transition: all .3s ease;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10%;
            height: 2px;
            width: 0%;
            background: var(--main-color);
            transform: none;
            transition: width .35s ease;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 104%;
            height: 100%;
            background-color: var(--main-color);
            z-index: 0;
            opacity: 0;
            transform: translateY(-50%) translateX(-50%) scale(.8);
            transition: all .3s ease;
            pointer-events: none;
        }
        .title {
            position: relative;
            padding: 4px 0 8px;
            padding-left: 0;
            font-weight: 400;
            font-size: 26px;
            line-height: 32px;
            color: var(--fontcolor1);
            transition: all .35s ease;
            &::before {
                content: '»';
                position: absolute;
                top: 50%;
                left: -20px;
                font-size: 30px;
                font-weight: 600;
                color: var(--fontcolor1);
                transform: translateY(-50%);
                opacity: 0;
                transition: all .35s ease;
            }
        }
        .description {
            margin-bottom: 6px;
            word-break: break-all;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 1px;
            color: var(--fontcolor3);
            transition: color .35s ease;
        }
        .time {
            position: relative;
            padding-left: 10px;
            font-size: 14px;
            line-height: 16px;
            color: var(--black9);
            transition: all .35s ease;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                height: 14px;
                width: 2px;
                background-color: var(--black9);
                transform: translateY(-50%);
            }
        }
        .tags {
            position: absolute;
            bottom: 28px;
            display: flex;
            li {
                margin-right: 16px;
                font-size: 14px;
                height: 20px;
                line-height: 20px;
                list-style: none;
                color: var(--black9);
                opacity: .9;
                transition: all.35s ease;
                span {
                    margin-right: 2px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: -4px;
                width: 0;
                height: 1px;
                background-color: var(--main-color);
                opacity: .38;
                z-index: 10;
                transition: all.35s ease;
            }
        }
    }
    &:hover {
        .post-card {
            .title {
                padding-left: 24px;
                color: var(--main-color);
                &::before {
                    left: 0;
                    opacity: 1;
                    color: var(--main-color);
                }
            }
            .tags {
                li {
                    color: var(--main-color);
                }
                &::after {
                    width: 100%;
                }
            }
            &::after {
                opacity: 0.02;
                transform: translateY(-50%) translateX(-50%) scale(1);
            }
        }
        .post-card::before {
            width: var(--border-len);
        }
    }
}

// 移动端or小屏适配
@media screen and (max-width: 786px) {
    .post-card-box {
        .post-card {
            margin-bottom: 26px;
            padding: 20px 0 40px;
            width: 100%;
            &::before {
                display: none;
            }
            &::after {
                width: 110%;
            }
            .tags {
                bottom: 12px;
            }
        }
    }
}